@import 'material-design-lite';
@import 'ember-paper';

.full-width {
  width: 100%;
}

.mdl-card__title {
  background: unquote("rgb(#{$color-primary})");
}

.mdl-card__title-text {
  color: white !important;
};

thead tr th:empty {
  display:none;
}

body {
  padding-bottom: 120px;
}
