<ul>
  <li>Install `ember cli sass`</li>
  <li>`mv app/styles/app.css app/styles/app.scss`</li>
  <li>ember install ember-material-lite</li>
  <li>May consider going from doing manual computed properties to compostable kind. check commit history</li>
</ul>
{{outlet}}
